<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	
	<div id="content">
		<h1>More Rails Practise for Dominic Davies</h1>
		<p>I'm making a bunch of clone websites to learn Ruby on rails.  I follow courses and tutorials delving into the  full process of zero-to-launch!</p>

		<p>Chinese Proverb: "I listen, I forget; I see, I remember; <strong>I do, I learn!"</strong></p>
	</div>
</div>